[{n2o, [{port, 8001 },
		{websocket_port, 8001},
	    %{route,loadtest_routes},
	    {log_modules, loadtest},
	    {auto_session, disable}
       ]},
{naga, [
         {watch,[loadtest]}
       ]},       
{ loadtest, [
          {domain, all}
         ,{base_url, "/"}   
         ,{rules, [route]}         
         ,{listeners,[
                      {http, [
                               {acceptors, 100},{ip,{0,0,0,0}},{port,8001}
                             ]}
                     ]}

         ,{lang_dir, "./data/lang"}
       ]}
].
