%{bossdb_opts,[
%              {model_dir, "src/model"},
%              {model_manager, boss_db}
%           ]}.
           
{erlydtl_opts, [
    {doc_root,   "priv/templates"},
    {out_dir,    "ebin"},
    {source_ext, ".html"},
    {module_ext, "_view"},
    
    {compiler_options, [report, return, debug_info]},

    {naga, [{enable, true}
            ,{extensions, [{".html","_html"},{".js", "_js"},{".css","_css"},{".json","_json"},{".txt","_txt"}]}
            ,{view_dir, ["src", "view"]}
           ]},

    {naga_mail, [{enable, true}
                 ,{extensions, [{".html","_html"},{".txt","_txt"}]}
                 ,{view_dir,  ["src", "mail"]}
                ]}
]}.
